
<% if @contact.errors.any? %>
  <h2>The following errors prevented the new contact from being saved</h2>
  <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div id="form">
  <%= form_with(model: @contact, local: true) do |f| %>
    <div>
      <%= f.label :name, {class: "form_label"} %>
      <%= f.text_field :name, {class: "inputs"} %>
    </div>
     <br>

    <div>
      <%= f.label :last_name, {class: "form_label"} %>
      <%= f.text_field :last_name, {class: "inputs"}  %>
    </div>
     <br>

    <div>
      <%= f.label :phone, {class: "form_label"} %>
      <%= f.text_field :phone, {class: "inputs"}  %>
    </div>
     <br>

    <div>
      <%= f.label :address, {class: "form_label"} %>
      <%= f.text_area :address, {class: "inputs"} %>
    </div>
     <br>

    <div>
      <%= f.label :gender, {class: "form_label"} %>
      <%= f.select :gender, ["", "male", "female", "prefer not answer"], {class: "inputs"}  %>
    </div>
     <br>

    <div>
      <%= f.label :age, {class: "form_label"} %>
      <% ;%>
      <%= f.select :age, 0..100, {class: "select"} %>
    </div>
     <br>

    <div>
      <%= f.submit "Submit", id:"submit"%>
    </div>
  <% end %>
     <br>

</div>
