

<div id="show_id">
  <p id="notice">
    <%= notice %>
  </p>
  <div class="show_class">
    <p><%= @contact.name%> </p> <br>
    <p> <%= @contact.last_name%></p>
  </div>

  <div class="show_class">
    <a href="tel:+1<%= @contact.phone%>">+1<%= @contact.phone%></a>
  </div>

  <div class="show_class">
    <%= @contact.address%>
  </div>

  <div class="show_class">
    <%= @contact.gender%>
  </div>

  <div class="show_class" >
    <%= @contact.age%>
  </div>

  <div class="bottom_links">
    <%= link_to 'Edit', edit_contact_path(@contact) %> | <%= link_to 'Back', contacts_path %>
  </div>
</div>
